<div class="canvas-container">
	<canvas id="canvas"></canvas>
</div>
<div class="carousel-prompt">
	<h3 class="prompt-text">Guess which painting?</h3>
</div>
<div class="btn-group game-options">
  <button type="button" class="btn btn-primary start">BACK</button>
  <button type="button" class="btn btn-primary rules">RULES</button>
  <button type="button" class="btn btn-primary high-scores">HIGH SCORES</button>
</div>	
<div class="carousel-container clearfix" id="carousel">
	<ul class="carousel-pictures">
		<li id="image_1" class="image"></li>
		<li id="image_2" class="image"></li>
		<li id="image_3" class="image"></li>
		<li id="image_4" class="image"></li>
		<li id="image_5" class="image"></li>
		<li id="image_6" class="image"></li>
		<li id="image_7" class="image"></li>
		<li id="image_8" class="image"></li>
		<li id="image_9" class="image"></li>
		<li id="image_10" class="image"></li>
		<li id="image_11" class="image"></li>
		<li id="image_12" class="image"></li>
	</ul>
</div>